In [1]:
import pandas as pd
import numpy as np
from scipy import stats

## Q1] A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

### Given,
Significance value = 5% = 0.05  
mu1 = mu2 = null hypothesis (Ho)---------(There is no significance difference in diameter)  
mu1 != mu2 = Alternet hypothesis(Ha)----(There is significance difference in diameter)

In [2]:
Data1 = pd.read_csv('Cutlets.csv')
Data1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
pvalue = stats.ttest_ind(Data1.iloc[:,0],Data1.iloc[:,1])[1]
print('pvalue = ', round(pvalue,3))
Alpha = 0.05
if pvalue > Alpha:
    print('Accept null hypothesis')
else:
    print('Reject null hypothesis')

pvalue =  0.472
Accept null hypothesis

## Here P value is greater than the significance(alpha) level. So we Accept null hypothesis, which tells us that there is no significant difference in the diameter of the cutlet between two units.

## =========================================================================

## Q2] A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
## Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

## Given,
Significance Level(alpha) = 5% = 0.05  
Ho = Null hypothesis ----------(There is no difference in the average Turn Around Time(TAT))  
Ha = Alternate hypothesis ---(There is difference in the average Turn Around Time(TAT))

In [4]:
Data2 = pd.read_csv('LabTAT.csv')
Data2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [23]:
from scipy import stats
alpha = 0.05
pvalue = stats.f_oneway(Data2.iloc[:,0], Data2.iloc[:,1], Data2.iloc[:,2], Data2.iloc[:,3])[1]
print('pvalue = ', pvalue)
if pvalue > alpha:
    print('Accept null hypothesis')
else:
    print('Reject null hypothesis')

pvalue =  2.1156708949992414e-57
Reject null hypothesis

   ## Here pvalue is less than the significance level(alpha). So we reject the null hypothesis, which means we accept alternate hypotheisis, which tells us that there is difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list.

## =========================================================================

## Q3] Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

## Given,
Ho = Null hypothesis------------(All proportions are equal)  
Ha = Alternate hypothesis-----(Not all proportions are equal)  
Assume, Significance Level(alpha) = 5% = 0.05

In [6]:
Data3 = pd.read_csv('BuyerRatio.csv')
Data3.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [7]:
Data3 = Data3.set_index(Data3['Observed Values']).drop('Observed Values', axis=1)
Data3

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [8]:
Data3 = Data3.transpose()
Data3

Observed Values  Males  Females
East                50      435
West               142     1523
North              131     1356
South               70      750

In [24]:
from scipy import stats
alpha = 0.05
pvalue = stats.ttest_ind(Data3.iloc[:,0], Data3.iloc[:,1])[1]
print('pvalue = ', round(pvalue,4))
if pvalue > alpha:
    print('Accept null hypothesis')
else:
    print('Reject null hypothesis')

pvalue =  0.0116
Reject null hypothesis

## Here pvalue is less than the significance level(alpha). So we reject null hypothesis, which means we accept alternate hypothesis, which tells us that not all proportions are equal.

## =========================================================================

## Q4] TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

## Given,
Significance Level(alpha) = 5% = 0.05  
Ho = The variable is independent  
Ha = The variable is dependent

In [10]:
Data4 = pd.read_csv('Costomer+OrderForm.csv')
Data4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [11]:
Data4['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [12]:
Data4['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [13]:
Data4['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [14]:
Data4['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
Data4=[[271,267,269,280],[29,33,31,20]]
Data4

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [16]:
from scipy.stats import chi2_contingency

In [17]:
stats,p,dof,expected=chi2_contingency(Data4)

In [18]:
stats

3.858960685820355

In [19]:
p

0.2771020991233135

In [20]:
dof

3

In [21]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [25]:
alpha = 0.05
print('pvalue = ', round(p,4))
if p <= alpha:
    print('Reject null hypothesis(Dependent)')
else:
    print('Accept null hypothesis(Independent)')

pvalue =  0.2771
Accept null hypothesis(Independent)

### Here pvalue is greater than the significance level(alpha). So there is no any relation between the centers, which means all centers are independent.

## =========================================================================